@using JaysLashesWebApp.Models.Dtos;
@inherits ProductCardBase;


<div class="col m-1 d-flex justify-content-center">
    <div class="card d-flex bg-transparent" style="width:200px;">
        <a href="/ProductDetails/@Product.Id" class="text-decoration-none text-white">
            <div class="w-100 h-100 d-flex justify-content-center mt-2 ">
                <div class="thumbnail-img-div rounded">
                    <img class="thumbnail-img" src="@Product.ImageData">
                </div>
            </div>
        </a>
        <hr class="text-white" />

        <div class="col">
            <a @onclick="() => NavigateToProduct()" class="text-decoration-none text-white">
                <div class="d-flex justify-content-between align-items-center m-1">
                    <p class="fw-semibold text-white overflow-hidden m-1" style="font-size:14px">
                        @Product.Name
                    </p>

                    <p class="m-0">
                        <b class="text-white">@Product.Price.ToString("C")</b>
                    </p>

                </div>
                <div class="d-flex justify-content-between align-items-center m-1">
                    <p class="text-white text-wrap m-2" style="font-size: 12px; height:50px; overflow:hidden">
                        @Product.Description
                    </p>
                    <p class="m-0">
                        @if (Product.Quantity > 0)
                        {
                            <b class="text-white" style="font-size:10px">Available Now!</b>
                        }
                        else
                        {
                            <b class="text-danger">Out of Stock!</b>
                        }
                    </p>
                </div>
            </a>
            @if (Appointment != null)
            {
                @if (Product.Quantity > 0 && Product.Id != Guid.Empty && Appointment.Status < JaysLashesWebApp.Models.enums.AppointmentStatus.AwaitingApproval)
                {
                    <div class="btn btn-success jay-green-bg" @onclick="() => AddToAppointment_Click(new AppointmentProductToAddDto()
                    {
                        ProductId = Product.Id,
                        AppointmentId = AppointmentId,
                        Quantity = Product.Quantity
                    })">
                        Add to Cart
                    </div>
                }
            }
            
        </div>
        <hr class="text-white" />

            
    </div>
    
</div>