@inherits AdminPasswordUpdateBase
@page "/admin/update/{id:guid}"


<div class="d-flex justify-content-center ">
    <img class="img-fluid mb-3" src="/Resources/OnlineBanner1.svg" />
</div>

<div class="d-flex justify-content-center align-items-center" Style="height:40vh">
    <div class="col-9 col-lg-3">
        <div>
            <lable>Current Password</lable>
            <input @oninput="UpdateOldPassword" type="password" />
        </div>
        <div>
            <lable>New Password</lable>
            <input @oninput="UpdateNewPassword" type="password" />
        </div>
        <div>
            <lable>Re-enter New Password</lable>
            <input @oninput="UpdateNewPasswordDuplicate" type="password" />
        </div>
        <div>
            <a @onclick="() => UpdatePassword_Click()" class="btn btn-success jay-green-bg">Save</a>
            <a onclick="history.back()" class="btn btn-danger">Cancel</a>
        </div>
    </div>
</div>

