@using JricaStudioApp.Pages.Products.Individual
@using Blazorise;
@using JricaStudioSharedLibrary.Dtos.BusinessHours

@if (StartTime != default)
{
    <h6 class="fw-bold">
        Appointment Date
    </h6>
    <h6>
        @StartTime.ToString("dd/MM/yyyy")
    </h6>
    <hr class="text-white" />
    <h6 class="fw-bold">
        Appointment Times
    </h6>
    <h6>
        Start Time: @StartTime.ToShortTimeString()
    </h6>
    <h6>
        End Time: @EndTime.ToShortTimeString()
    </h6>
    if (TimeOnly.FromDateTime(StartTime).Add(Duration) > BusinessHours.First(b => b.Day == StartTime.DayOfWeek).CloseTime)
    {
        <div class="text-danger fw-bolder">
            After hours appointment: Additional charges will apply
        </div>
    }
}

@code{
    [Parameter]
    public DateTime StartTime { get; set; }
    [Parameter]
    public DateTime EndTime { get; set; }
    [Parameter]
    public TimeSpan Duration { get; set; }
    [Parameter]
    public IEnumerable<BusinessHoursDto> BusinessHours { get; set; }

    
}