@page "/indemnityForm/Rejected";

<div class="d-flex justify-content-center align-items-center" style="font-size:30px;height:90Vh; color:white; font-weight:bold; text-align:center" >
    Sorry! Though we try our best to accommodate everyones it seems we will be unable to meet your needs at this current time.
</div>