@inherits AboutUsPageBase

@page "/aboutUs"
@using JricaStudioApp.Pages.User

<div class="row d-flex justify-content-around">
    <div class="col-12 col-lg-7">
        Hi, my name is Jayrica, I have a home based studio in Virginia, Brisbane. I have 2 children and 2 cats.<br />
        My Children and cats have minimal access to my studio but out of caution if you have allergies we recommend not booking an appointment.<br />
        <br />
        I am a master lash artist specializing in full natural look lashed, I am offering foreign fills and lash rehab.<br />
        Foreign fills means if you need an infill but your previous lash extensions were from a different lash tech.<br />
        Lash rehab means removing your previous lash extensions if they are causing discomfort and applying a new set.<br />
        <br />
        I opened my studio on 11 December 2023. I quickly became obsessed with lash extensions and the way I can transform a client's confidence within a few hours.<br />
        <br />
        Being a lash artist is so much more than a job. It's my passion and purpose.<br />
        I want to make my client feel safe, happy and loved for a short time they're on my lash bed.<br />
        I will take my time to make your lashed look luxurious! Appointments are 2.5 - 3 hours long that's with talking or mapping if you wish.<br />
        <br />
        If you want to know more about my story of if you just want to have some quiet time book an appointment!
    </div>
    <div class="col-12 col-lg-4 mt-3">
        <img class="w-100" src="/Resources/ExampleLogo.png" />
    </div>
</div>

<ContactForm></ContactForm>


