@using JricaStudioApp.Pages.Products.Iterative;
@using JricaStudioApp.Pages.Services.Iterative;
@using JricaStudioApp.Pages.Services.Individual;

@page "/"


<div class="d-flex justify-content-center ">
    <img class="img-fluid mb-3" src="/Resources/OnlineBanner1.svg" />
</div>
<hr class="text-white " />
<ServiceShowcase></ServiceShowcase>
<hr class="text-white " />
<RandomServices Length="5"></RandomServices>
<hr class="text-white"/>
<RandomProducts Length="4"></RandomProducts>