<nav class="navbar-expand navbar-light rounded shadow-sm" style="background-color:#283B2A">
    <div class="d-flex">
        <div class="d-flex justify-content-evenly align-items-center w-100">
            <div>
                <a class="nav-link text-white m-1" style="font-size:small" href="/admin/home">Home</a>
            </div>
            <div>
                <a class="nav-link text-white m-1" style="font-size:small" href="/admin/appointments">Appointments</a>
            </div>
            <div>
                <a class="nav-link text-white m-1" href="/admin/users">Users</a>
            </div>
            <div>
                <a class="nav-link text-white m-1" href="/admin/services">Services</a>
            </div>
            <div>
                <a class="nav-link text-white m-1" href="/admin/products">Products</a>
            </div>
        </div>

    </div>
</nav>