@inherits CountDownTimerBase

<div class="d-flex justify-content-center">
    <h1 class="p-4">Please Wait...@timeRemaining.Seconds</h1>
    <span id="load-count-down" class="loader p-4"></span>
</div>

