@using JricaStudioApp.Constants;
    <div class="row mt-5">
        <div class="col-12 mb-3 mt-3" style="text-align:center">
            Follow us on our social media to stay up to date!
        </div>
        <div class="col-12 d-flex justify-content-center ">
            <a target="_blank" href="@SocialMediaLinksConstants.FaceBookLink">
                <img src="/Resources/SocialMediaIcons/facebook-1-svgrepo-com.svg" class="social-icon" alt="facebook Icon" />
            </a>
            <a target="_blank" href="@SocialMediaLinksConstants.InstagramLink">
                <img src="/Resources/SocialMediaIcons/instagram-1-svgrepo-com.svg" class="social-icon" />
            </a>
        <a target="_blank" href="@SocialMediaLinksConstants.TikTockLink">
            <img src="/Resources/SocialMediaIcons/tiktok-1-svgrepo-com.svg" class="social-icon" />
        </a>
        </div>
    </div>
    