
<div class="container mt-0 pt-0 fixed-bottom" id="bottom-nav-bar">
    <nav class="navbar-expand navbar-light rounded-top shadow-sm" style="background-color: #283B2A">
        <div class="d-flex">
            <div class="d-flex justify-content-evenly align-items-center w-100 m-1">
                <div>
                    <a href="/aboutUs" class="nav-link text-white">About Us</a>
                </div>
                <div>
                    <a href="/policies" class="nav-link text-white">Polices</a>
                </div>
            </div>
        </div>
    </nav>
</div>
