@inherits EditUserPageBase
@page "/admin/users/edit/{id:guid}"

@if (Admin == default)
{
    <DisplaySpinner></DisplaySpinner>
}
else
{
    <AdminToolbar></AdminToolbar>
    <h3>
        Edit User
    </h3>
    <div class=" d-flex justify-content-center">
        <div class="col-lg-6 col-11">
            <div class="row mt-5">
                <Label>
                    First Name:
                </Label>
            </div>
            <div class="row">
                <InputText @bind-Value="User.FirstName"></InputText>
            </div>
            <div class="row mt-5">
                <Label>
                    Last Name:
                </Label>
            </div>
            <div class="row">
                <InputText @bind-Value="User.LastName"></InputText>
            </div>
            <div class="row mt-5">
                <Label>
                    Email:
                </Label>
            </div>
            <div class="row">
                <InputText @bind-Value="User.Email"></InputText>
            </div>
            <div class="row mt-5">
                <Label>
                    Phone:
                </Label>
            </div>
            <div class="row">
                <InputText @bind-Value="User.Phone"></InputText>
            </div>
            <div class="row mt-5">
                <div class="col-6">
                    <lable class="">
                        Waiver:
                    </lable>
                </div>
                <div class="col-4">
                    <input @bind="User.IsWaiverAcknowledged" type="checkbox" class="input-group jays-checkbox">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6">
                    <lable class="">
                        Allergies:
                    </lable>
                </div>
                <div class="col-4 d-flex align-self-center">
                    <input @bind-value="User.HasAllergies" type="checkbox" class="input-group jays-checkbox">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6">
                    <lable class="">
                        Sensitive Skin:
                    </lable>
                </div>
                <div class="col-4 d-flex align-self-center">
                    <input @bind-value="User.HasSensitiveSkin" type="checkbox" class="input-group jays-checkbox">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6">
                    <lable class="">
                        Date of birth:
                    </lable>
                </div>
                <div class="col d-flex align-self-center mt-3">
                    <input @bind-value="User.DOB" type="date" class="input-group ">
                </div>
            </div>
            <div class="d-flex flex-row justify-content-around mt-5">
                <div>
                    <a @onclick="() => SaveUserUpdates_Click()" class="btn btn-success jay-green-bg">Save</a>
                </div>
                <div>
                    <a @onclick="() => BackToUsers_Click()" class="btn btn-danger">Cancel</a>
                </div>

            </div>
        </div>
    </div>


}
